.navbar {
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: url("./../navbar.png") no-repeat center center;
    background-size: cover;
}

.navbar > * {
    font-size: 0.8rem;
    line-height: 1rem;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.navbar-start {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    margin: -0.75rem;
}

.navbar-items {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    color: white;
}
